<?xml version="1.0"?>

<launch>
  <!-- files folder path -->
  <arg name="yolo_names_path"		default="$(find yolo_object_detection)/yolo_network_config"/>
  <arg name="yolo_cfg_path"		default="$(find yolo_object_detection)/yolo_network_config/cfg"/>
  <arg name="yolo_weights_path"		default="$(find yolo_object_detection)/yolo_network_config/weights"/>

  <!-- parameter files -->
  <arg name="yolo_param_file"		default="$(find yolo_object_detection)/config/yolov3-tiny-custom.yaml"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="yolo_object_detection" file="$(arg yolo_param_file)"/>

  <!-- Start front_cam -->
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
  </node>

  <!-- Start darknet and ros wrapper -->
  <node pkg="yolo_object_detection" type="yolo_object_detection" name="yolo_object_detection" output="screen" >
    <param name="names_path"		value="$(arg yolo_names_path)" />
    <param name="cfg_path"			value="$(arg yolo_cfg_path)" />
    <param name="weights_path"		value="$(arg yolo_weights_path)" />
  </node>
      
</launch>
